[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
prefect-gcp = {extras = ["cloud_storage"], version = "*"}
pandas = "*"
pyarrow = "*"
python-dotenv = "*"
pandas-gbq = "*"

[dev-packages]

[requires]
python_version = "3.8"
